@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

body {
  -webkit-font-smoothing: antialised;
  max-width: 100vw;
  max-height: 100vh;
}

body,
input,
textarea,
button {
  font:
    400 1rem Roboto,
    sans-serif;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: 0;
  background: transparent;
}

.postContent p {
  margin-top: 1.5rem;
  color: #d7d7d7;
  font-size: 18px;
  line-height: 1.5;
}
.postContent a {
  color: #f75a68;
}
